body{
    background-image: url(https://images.pexels.com/photos/72594/japan-train-railroad-railway-72594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
}

.jumbotron{
    background-color: rgba(26, 81, 136, 0.5);
}


h1{
    font-family: sans-serif;
    font-weight: 900;

}